# ======================
# Solana / Anchor
# ======================
.anchor/
target/
**/.DS_Store
test-ledger/

# ======================
# Node / pnpm
# ======================
node_modules/
dist/
*.js.map
*.d.ts.map

# ======================
# Environment
# ======================
.env
.env.local
.env.*.local

# ======================
# Docker
# ======================
*.log
docker-volumes/

# ======================
# Misc
# ======================
*.swp
*.swo
.vscode/
